# Data Science Tools and Ecosystem

# Objectives:
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular tools for Data Science

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

# Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. ggplot

| Data Science Tools     |
|------------------------|
| Jupyter                |
| RStudio                |
| Visual Studio Code      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [22]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [24]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
David Reynolds